body {
    margin: 0;
}

nav {
    height: 50px;
    background-color: #999999;
}

footer {
    height: 100px;
    background-color: #CCCCCC;
}

gomes {
    display: block;
    width: 300px;
    height: 300px;
    background-color: #4CBEFF;
}