body#bodySeletores {
    width: 100%;
    height: 100%;
    max-height: 1080px;
    background-image: linear-gradient(0deg, #000000 , #FFFFFF);
}

#aGoHome {
    background-color: #0DDC6F;
    text-decoration: none;
    padding: 8px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#aGoHome:hover {
    background-color: #018B43;
}

h1 {
    text-transform: uppercase;
}

img {
    width: 380px;
}

.teste {
    width: 150px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background-color: #DDDDDD;
    border-radius: 20px;
}

#titulo {
    font-size: 20px;
}

.teste2 {
    color: #FFA500;
}

.div {
    width: 100%;
    height: 150px;
    background-color: #FF7070;
    margin-top: 10px;
}

.menu-left {
    width: 200px;
    height: 300px;
    background-color: #59BFFF;
    float: left;
}

.menu-right {
    width: 200px;
    height: 300px;
    background-color: #FFE699;
    float: right;
}

.conteudo {
    height: 300px;
    background-color: #6AFF66;

}

.span-teste {
    font-weight: bold;
    font-style: italic;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
}

.div-bordas {
    margin-top: 10px;
    color: #000000;
    width: 400px;
    height: 400px;
    border: 5px solid #FF7474;
    border-radius: 10px;
}

.img-border {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 65px;
}

.texto {
    width: 500px;
    height: 200px;
    background-color: #EEEEEE;
    color: #FF0000;
    font-size: 25px;
    font-family: "Fira Code Retina", Helvetica, Georgia, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 10px;
}

.texto-box-model {
    width: 1000px;
    height: 700px;
    background-color: #EEEEEE;
    color: #FF0000;
    font-size: 25px;
    font-family: "Fira Code Retina", Helvetica, Georgia, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;
}

.flutuante {
    position: fixed;
    background-color: #FF5858;
    bottom: 0px;
    right: 0px;
}

.displays {
    width: 300px;
    height: 100px;
    background-color: #FF5A5A;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code Retina", Helvetica, Georgia, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 10px;
    margin-bottom: 10px;
    /* display: none; */
    /* display: block; */
    /* display: inline; */
    display: inline-block;
}

.link-teste {
    color: #000000;
    text-decoration: none;
}

.link-teste:hover {
    text-decoration: underline;
    background-color: #FF5C5C;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 10px;
}

.img-diretorios {
    width: 200px;
    height: 200px;
    border: 2px solid #3C3C3C;
    display: inline-block;
    margin-top: 5px;
    border-radius: 15px;
}

.div-diretorios {
    background-color: #FF5050;
    padding: 15px;
    width: 415px;
}

